body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body > header:first-of-type {
    box-sizing: border-box;
    background-color: green;
    min-height: 50px;
}
nav {
    box-sizing: border-box;
    background-color: lightblue;
    min-height: 30px;
}
div.mittelsektion {
    box-sizing: border-box;
    background-color: orange;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
article {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: red;
    flex-basis: 60%;
}
aside {
    box-sizing: border-box;
    background-color: yellow;
}
aside.right {
    margin-left: auto;
    padding: 16px;
    flex-basis: 20%;
}
aside.left {
    margin-right: auto;
    padding: 16px;
    flex-basis: 20%;
}
footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: blue;
    margin-top: auto;
}
html {
    height: 100%;
}
